.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include desktop {
    flex-direction: column;
  }

}

/* xsm */
.blog-img {
  width: 100%;
  height: auto;
}
/* sm */
@media (min-width: 768px) {
  .blog-img {
      width: 75%;
  }
}
/* md */
@media (min-width: 992px) {
  .blog-img {
      width: 50%;
  }
}
/* lg */
@media (min-width: 1200px) {
  .blog-img {
      width: 60%;
  }
}


blockquote > p {
  display: inline-block;
  padding: 10px 20px;
  background: $gray;
  border-left: 2px solid $primary-color;
  font-style: italic;
  font-size: 22px;
  line-height: inherit;
}

.content {
  * {
    margin-bottom: 20px;
  }

  strong {
    font-family: $secondary-font;
    font-size: 22px;
    font-weight: normal;
    color: $text-color-dark;
    display: inherit;
    line-height: 1.5;
  }
}